-#@params [Array<Hash>] companies_info information for each company.
  * :text [String]  String containing companies data for display.
  * :id [number] company's identifier
.operations_filter
  .container
    .col-xs-10
      %input#operations_filter.form-control{placeholder: "#{t('companies.filter')}"}
    .col-xs-2
      #apply_filters.btn.btn-primary Filter By
#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  -@companies_info.each do |company_info|
    =render partial: 'company' , locals: {company_info: company_info}
