-#@params [String] categories: categories names related to the operation
  @params [Operation] operation: Operations to be displayed as a row of a table
%tr
  %td=operation.invoice_num
  %td=operation.invoice_date
  %td=operation.operation_date
  %td=operation.amount
  %td=operation.reporter
  %td=operation.notes
  %td=categories
